<fieldset>
  <legend>Formulario de linea de orden</legend>
<%= form_for ([@shopping_basket, @shopping_basket.order_details.build]), role: "form" do |f| %>



  <p>
    <%= f.label  "Producto" %>
    <%# f.collection_select :product_id, Product.all, :id, :name, {class: "chosen-select"}  %>
    <%= f.collection_select :product_id	, Product.all.select{|p| p.stock>0}, :id, :name, {prompt: "Seleccione un producto"}, {class: "chosen-select"} %>

  </p>
  <p>
    <%= f.label "Cantidad" %>
    <%= f.number_field :quantity %>
  </p>

 <%= f.submit "Añadir", class: "button", data: {options: "align:right", dropdown: "drop"}  %>

<% end %>
</fieldset>


           
