<h1>Modificar un producto de la orden </h1>
 

<%= form_for (@order_detail), role: "form" do |f| %>



  <p>
    <%= f.label  "Producto" %>
    <%# f.collection_select :product_id, Product.all, :id, :name, {class: "chosen-select"}  %>
    <%= f.collection_select :product_id	, Product.all, :id, :name, {prompt: "Seleccione un producto"}, {class: "chosen-select"} %>

  </p>
  <p>
    <%= f.label "Cantidad" %>
    <%= f.number_field :quantity %>
  </p>

 <%= f.submit "Modificar", class: "button", data: {options: "align:right", dropdown: "drop"}  %>

<% end %>
</div>
           


 
<%= link_to 'Back', shopping_basket_path(@order_detail.shopping_basket) %>