<center>
<h2> Gestión de usuarios </h2>

</center>
<%= link_to 'Nuevo usuario', new_user_path, class: "button" %>

<center>
<table id="users">
  <thead>
    <tr>
      <th>Nombre</th>
       <th>Email</th>
       <th>Tipo de usuario</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.full_name, user %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= link_to user.role.name, user %></td>
        <td>
          <%= link_to 'Editar', edit_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</center>
