<h1> Orden actual</h1>

<table id="ols">
  <thead>
  <tr>
    <th> Producto  </th> 
    <th> Cantidad </th>
    <th> Precio Unitario </th>
    <th> Precio total </th>
    <th colspan="2">  Acciones </th>

  </tr>
</thead>
  <tbody>
  <% @order.order_lines.each do |p| %>
  <tr>
  <td> <%= p.product.name %> </td> 
  <td> <%= p.quantity %> </td> 
  <td> <%= p.product.price %> </td> 
  <td> <%= p.product.price * p.quantity %> </td> 
  <td><i class="fi-pencil"> <%= link_to "Modificar", edit_order_line_path(p) %></i> </td>
  <td><i class="fi-trash"> <%= link_to "Eliminar", order_order_line_path(@order, p) , method: :delete, data: {confirm: "Are you sure?"} %></i> </td> 
    </tr>
  <% end %>
  <tr> <td> </td> </tr>
  <tr>
    <td> <strong> Subtotal <strong> </td> <td> <%= @order_subtotal %> </td>
    <td> <strong> IVA <strong> </td> <td> <%= @order_taxes %> </td>
    <td colspan="2"> <strong> Total <strong> </td> <td> <%= @order_total %> </td>
  </tr>

</tbody>

</table>



<%= link_to "Finalizar orden", checkout_order_path(@order.id), class: "button", data: {options: "align:right", dropdown: "drop"}  %>

<h3>Agregar producto al carro de compras:</h3>
  <%= render 'order_lines/form' %>











<% # button_to "Checkout", new_sale_path, :method => "post" %>
