
<center>
<h2> Gestión de documentos </h2>

</center>

<%= link_to 'Añadir documento nuevo', new_document_path, class: "button" %>

<table id="documents">
  <tr>
    <th> Nombre </th> 
    <th> Valido hasta </th>
    <th> Archivo  </th>
    <th colspan="3">  Actions </th>
  </tr>

  <% @documents.each do |p| %>
  <tr>
  <td> <%= p.name %> </td> 
  <td> <%= p.valid_until %> </td> 
  <td> <%= p.document_file_file_name %> </td> 
  <td> <i class="fi-pencil"> <%= link_to "Modificar", edit_document_path(p) %> </i> </td> 
  <td> <i class="fi-trash"> <%= link_to "Eliminar", document_path(p), method: :delete, data: {confirm: "Desea eliminar archivo?"} %> </i></td> 
  <td> <i class="fi-download"> <%= link_to "Descargar archivo", p.document_file(:original, false) %> </i></td>  
    </tr>
  <% end %>
</table>
