<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />


    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%#= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <title> Software gestor de miscelánea </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">

                    <h1> <%=link_to "Gestion de miscelanea", root_path %></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

<section class="top-bar-section">
     <ul class="right">
    <% if user_signed_in? %> <!--Admin-->
      <% if current_user.role.name=="Administrador" %>
      <li class="active"><a href="#">Bienvenido administrador</a></li>
      <li> 
          <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>
      </li>
      
    <% elsif current_user.role.name=="Vendedor"  %> <!--Seller-->
      <li class="active">
        <%= link_to "Carro de compra", my_order_path %>
      </li>
      <li>
        <%= link_to "Registrar egreso", new_egress_path %>
      </li>
      <li> 
          <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>
      </li>
    <% end %>
    <% else %>
      <li class="active"><a href="#">Bienvenido visitante</a></li>
      <li> 
          <%= link_to "Ingresar", new_user_session_path %>
      </li>
      
    <% end %>
     </ul>

     <ul class="left">
    <% if user_signed_in? %> <!--Admin-->
      <% if current_user.role.name=="Administrador" %>
      <li class="has-dropdown">
        <a href="#">Gestion de productos</a>
        <ul class="dropdown">
          <li>
            <%= link_to "Gestionar productos", products_path %>
          </li>
          <li>
            <%= link_to "Gestionar categorías", categories_path %>
          </li>

        </ul>
      </li>
      <li>
        <%= link_to "Gestionar documentos", documents_path %>
      </li>
      <li>
        <%= link_to "Gestionar proveedores", providers_path %>
      </li>
      <li>
            <%= link_to "Gestionar usuarios", users_path %>
       </li>
      <li>
        <%= link_to "Arqueo de caja", cash_count_path %>
      </li>
    <% elsif current_user.role.name=="Vendedor"  %> <!--Seller-->
          <li> <a href="#"> Bienvenido vendedor  </a> </li>
          <li> <%= link_to "Mis ventas", sales_path %> </li>
          <li> <%= link_to "Mis egresos", egresses_path %>  </li>
    <% end %>
    <% end %>  
     </ul>


        



    </section>

</nav>
    <%= yield %>

    
  </body>
</html>



